# Identificação

- Santander Coders 2023 | 2º Semestre - DS (3) | Turma #1116

Aluna: Juliana Bertolucci Peixoto | Id: 1116030

Professores:


# Sobre o projeto

## 1. Objetivo Geral
- Realizar uma análise exploratória de dados de vendas online, utilizando um conjunto de dados real.

## 2. Objetivos Específicos
- Extrair insights e entender melhor o fenômeno das vendas e do que lhe diz respeito:
    - clientes
    - fornecedores
    - produtos
    - pagamentos
    - etc.
- Aplicar o que aprendemos a respeito de Numpy,Pandas e Git durante as aulas do módulo.

### 2.1. Tarefas que se devem cumprir:
- 2.1.1. Ler pelo menos dois datasets (.csv) como objetos Pandas DataFrames e, a partir disso, trabalhar com estes objetos do tipo DataFrame.
- 2.1.2. Realizar análise exploratória inicial das tabelas:
    - quantidade de registros, 
    - nomes e tipos de dados das  colunas de cada tabela
    - quantidade de dados faltantes (nulos ou NaN),
    - proporção de cada valor para colunas categóricas,
    - para cada coluna numérica, cacular medidas estatísticas como:
        - mediana,
        - média,
        - mínimo,
        - máximo,
        - desvio padrão.
- 2.1.3. Levantar e responder pelo menos três questões a respeito dos dados de modo que as respostas demandem um filtro por máscara de seleção booleana. Tais como:
    - Na tabela de pagamentos, há pagamentos do tipo “boleto” com mais de uma parcela?
    - Quais são exatamente os pagamentos que tem um valor maior ou menor do que o valor médio dos pagamentos registrados na tabela de pagamentos?
    - Na tabela de clientes, quem são os clientes que provém de uma das 3 cidades mais comuns da tabela?
- 2.1.4. Ao menos 2 vezes, criar um ndarray e adicioná-lo a alguma tabela como uma nova coluna.
    - Para isso, encontrar alguma informação que você julgue parecer útil e que possa ser derivada das colunas já existentes na tabela.
- 2.1.5. Demonstrar conhecimentos em GIT.

## 3. Sobre  base de dados

A base de dados utilizada foi a *Brazilian E-Commerce Public Dataset by Olist*, disponível no <a href="https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce" alt="_blank">kaggle</a> e composta por 9 datasets .csv:

- olist_customers_dataset.csv
- olist_geolocation_dataset.csv
- olist_order_items_dataset.csv
- olist_order_payments_dataset.csv
- olist_order_reviews_dataset.csv
- olist_orders_dataset.csv
- olist_products_dataset.csv
- olist_sellers_dataset.csv
- product_category_name_translation.csv

É um dataset público, sob licença <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" alt="_blank">CC BY-NC-SA 4.0</a> e não atualizável.

Apresenta informações reais e anonimizadas de 100 mil pedidos que aconteceram entre 2016 e 2018 em diversos marktplaces no Brasil por meio da <a href="https://olist.com/pt-br/" alt="_blank">Oilst Store</a>.

De acordo com a descrição no kaggle, **suas características permitem visualizar um pedido sob múltiplas dimensões**:
- o status do pedido,
- preço,
- desempenho do pagamento e do frete até a localização do cliente e
- avaliações escritas pelos clientes, 
- Há ainda, um conjunto de dados de geolocalização que relaciona os códigos postais brasileiros às coordenadas de latitude e longitude.

**Informações relevantes sobre os datasets:**
- Um pedido pode ter mais de um produto.
- Pridutos dentro de um mesmo pedido podem ser vendidos por distintos vendedores.
- Todas as referências às empresas e parceiros foram substituídas pelos nomes das grandes casas de Game of Thrones.
- Cada pedido possui um id de cliente (customer_id) diferente e cada cliente possui um único id geral (customer_unique_id).

## 4. Referências utilizadas na elaboração deste projeto
- Ada
- Alura
- Livros

# A. Conhecendo dois datasets .csv

(nesta seção, realizarei os itens 2.1.1., 2.1.2. e 2.1.4. das tarefas qe se devem cumprir)

In [113]:
# Importar bibliotecas que serão usadas

import pandas as pd
import numpy as np

A base de dados analisada possui 9 datasets em formato arquivo .csv. A partir do *data schema* disponibilizado (que pode ser vista <a href="https://i.imgur.com/HRhd2Y0.png" alt="_blank">neste link</a>), inicialmente, optei por agrupar os datasets, de maneira bem simplificada, em 2 conjuntos informacionais:

1. **Informações sobre as ações realizadas** 
- Realizar pedido (orders_dataset.csv, order_items_dataset.csv)
- Pagar $ (order_payments_dataset.csv)
- Receber $ (order_payments_dataset.csv)
- Receber o pedido (orders_dataset.csv)
- Avaliar (order_reviews_dataset.csv)

2. **Informações sobre os 'atores'** relacionados às ações realizadas:
- Clientes (customers_dataset.csv, geolocation_dataset.csv)
- Vendedores (sellers_dataset.csv)
- Produtos (products_dataset.csv; product_category_name_translation.csv)

Assim, inicialmente, importarei para conhecer um dataset com informações sobre clientes e outro com uma das ações que realizam (realizar pedido):

In [114]:
# Importar datasets 'customers_dataset.csv' e 'orders_dataset.csv' como Pandas DataFrames (especificando separador)

df_clientes = pd.read_csv('olist_customers_dataset.csv', sep = ',')

df_pedidos = pd.read_csv('olist_orders_dataset.csv', sep = ',')

## A.1. Conhecendo o dataset de Clientes (oilst_customers_dataset.csv)

In [115]:
# Verificar tipo da variável do dataset para checar se foi importanto como solicitado

type(df_clientes)

pandas.core.frame.DataFrame

In [116]:
# Visualiazr 6 primeiros registros

df_clientes.head(6)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
5,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,89254,jaragua do sul,SC

In [117]:
# visualizar 6 resgistros finais
df_clientes.tail(6)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
99435,7fe2e80252a9ea476f950ae8f85b0f8f,4b5820135d360a45552b5163835b1d89,35500,divinopolis,MG
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

### A.1.1. Características gerais de df_clientes

In [118]:
# Explorar quantidade e linhas e colunas

print(f'O DataFrame df_clientes possui a seguinte quantidade de linhas e colunas: {df_clientes.shape}.')

# Checar quais são as colunas
print(f'As colunas são: {df_clientes.columns}.')

O DataFrame df_clientes possui a seguinte quantidade de linhas e colunas: (99441, 5).
As colunas são: Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object').

In [119]:
# Checar tipagem dos dados

df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [120]:
# Visualizar 1 coluna de cada dtype

# 1. dtype objetct

df_clientes['customer_id']

0        06b8999e2fba1a1fbc88172c00ba8bc7
1        18955e83d337fd6b2def6b18a428ac77
2        4e7b3e00288586ebd08712fdd0374a03
3        b2b6027bc5c5109e529d4dc6358b12c3
4        4f2d8ab171c80ec8364f7c12e35b23ad
                       ...
99436    17ddf5dd5d51696bb3d7c6291687be6f
99437    e7b71a9017aa05c9a7fd292d714858e8
99438    5e28dfe12db7fb50a4b2f691faecea5e
99439    56b18e2166679b8a959d72dd06da27f9
99440    274fa6071e5e17fe303b9748641082c8
Name: customer_id, Length: 99441, dtype: object

In [121]:
# 2. dtype int64

df_clientes['customer_zip_code_prefix']

0        14409
1         9790
2         1151
3         8775
4        13056
         ...
99436     3937
99437     6764
99438    60115
99439    92120
99440     6703
Name: customer_zip_code_prefix, Length: 99441, dtype: int64

### Resumindo as infos coletadas até aqui

Até aqui, levantamos que df_clientes tem:

- 99.441 entradas (ou linhas)
- 5 colunas
    - 4 com dtype object ('customer_id', 'customer_unique_id', 'customer_city' 'customer_state')
    - 1 com dtype int64 ('customer_zip_code_prefix')
- Todas as entradas são Non-Null

### A.1.2. Calcular proporção das colunas categóricas

Para isso, primeiro preciso checar algumas padronizações dos dados (entradas) nestas 4 colunas.

Farei 2 checks inicialmente:

- Se todas as letras nas 4 colunas são da mesma tipografia.
- Se nas colunas 'customer_id' e 'customer_unique_id'há espaços ou se todos os ids são compostos por uma única string com letras e números.

Como aplicarei há mais de uma coluna e possivelmente em outros DataFrames, criarei funções.

In [150]:
# Cria função para verificar tipografia dos textos nas colunas do DataFrame
def verifica_tipografia(df):
    '''
    Verifica a tipografia de cada ítem de uma coluna dtype object de um DataFrame pandas.

    Retorna 'SÓ CAIXA ALTA' se a string for formada apenas por letras maiúsculas, 'só caixa baixa' se a string for formada apenas por letras minúsculas e 'ALTA e baixa' se for formada por uma combinação das duas.
    
    Parameters:
    letras (str): A string a ser verificada.
        
    Returns:
    str: Descrição da tipografia das letras na string: 'SÓ CAIXA ALTA', 'só caixa baixa', 'ALTA e baixa'.   
    '''
    resultado_tipografia = {}
    for column in df.columns:
        if df[column].dtype == 'object':
            if df[column].str.isupper().any():
                resultado_tipografia[column] = 'SÓ CAIXA ALTA'
            elif df[column].str.islower().any():
                resultado_tipografia[column] = 'só caixa baixa'
            else:
                resultado_tipografia[column] = 'ALTA e baixa'

    return resultado_tipografia

# Cria função para verificar se há espaços em colunas de identificação (id)
def verifica_espacos(df):

    resultado_espacos = {}
    for column in df.columns:
        if df[column].dtype == 'object':
            resultado_espacos[column] = df[column].str.contains(' ').any()
    return resultado_espacos


# Criar função que cria df_proporcao com o cálculo da proporção de cada valor em colunas dtype object, arredondando para 4 casas decimais
# A opção por 10 casas decimais deve-se ao fato de o número de entradas ser grande, assim a proporção para uma entrada única terá muitas casas decimais associadas
# Como foi solicitado o uso de ndarrays, será criado um ndarray com o percentual das proporções, o qual será adicionado ao df_proporcoes
def proporcao_categoricas(df, column):
    df_proporcao = pd.DataFrame(round(df[column].value_counts(normalize = True),10))
    df_proporcao_ndarray = np.array(df_proporcao[column] * 100)
    df_proporcao['Proporção (%)'] = df_proporcao_ndarray
    return df_proporcao

In [151]:
# Aplicar df verifica_tipografia() nas colunas categóricas de df_clientes
verifica_tipografia(df_clientes)

{'customer_id': 'só caixa baixa',
 'customer_unique_id': 'só caixa baixa',
 'customer_city': 'só caixa baixa',
 'customer_state': 'SÓ CAIXA ALTA'}

In [152]:
# Checar se as colunas com id e estado contém espaços
verifica_espacos(df_clientes)

{'customer_id': False,
 'customer_unique_id': False,
 'customer_city': True,
 'customer_state': False}

Como as colunas estão padronizadas quanto à tipografia, e as colunas com informação de id, id_unico e estado não têm espaços, podemos passar ao cálculo das proporções:

In [153]:
# Calcular porporção da coluna 'customer_id'

df_clientes_proporcao_id = proporcao_categoricas(df_clientes, 'customer_id')
df_clientes_proporcao_id.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99441 entries, 7cd022f49c80185e8ff8208adf611409 to 99182106be47066737d15f60d6fd95ee
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    99441 non-null  float64
 1   Proporção (%)  99441 non-null  float64
dtypes: float64(2)
memory usage: 2.3+ MB

In [154]:
# Calcular porporção da coluna 'customer_unique_id'

df_clientes_proporcao_unique_id = proporcao_categoricas(df_clientes, 'customer_unique_id')
df_clientes_proporcao_unique_id.info()
df_clientes_proporcao_unique_id = df_clientes_proporcao_unique_id.rename(columns={'customer_unique_id': 'Proporção (decres)'})
df_clientes_proporcao_unique_id = df_clientes_proporcao_unique_id.rename_axis('ID único do Cliente', axis='columns')
df_clientes_proporcao_unique_id = df_clientes_proporcao_unique_id # como os resultados são números entre 0 e 1, multiplica-se por 100 para facilitar a visualização

df_clientes_proporcao_unique_id

<class 'pandas.core.frame.DataFrame'>
Index: 96096 entries, 8d50f5eadf50201ccdcedfb9e2ac8455 to 40273ffa07a72fa7b3195d3c5d495925
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_unique_id  96096 non-null  float64
 1   Proporção (%)       96096 non-null  float64
dtypes: float64(2)
memory usage: 2.2+ MB

ID único do Cliente               Proporção (decres)  Proporção (%)
8d50f5eadf50201ccdcedfb9e2ac8455            0.000171       0.017096
3e43e6105506432c953e165fb2acf44c            0.000091       0.009051
1b6c7548a2a1f9037c1fd3ddfed95f33            0.000070       0.007039
ca77025e7201e3b30c44b472ff346268            0.000070       0.007039
6469f99c1f9dfae7733b25662e7f1782            0.000070       0.007039
...                                              ...            ...
fad77588817f588c13870073de3a3d26            0.000010       0.001006
ca8df232f8eca065dc8c88de8795a4c3            0.000010       0.001006
91a91a4cb75a949869da376eb23c8b8b            0.000010       0.001006
f79825029e2a25c3196ee34f87068317            0.000010       0.001006
40273ffa07a72fa7b3195d3c5d495925            0.000010       0.001006

[96096 rows x 2 columns]

In [173]:
# Checar quanto clientes fizeram mais de um pedido (customer_unique_id que aparece mais de uma vez no DF)
# Como a proporção de um customer_unique_id que aparece duas vezes é de 0.00002 (2/99441)
# buscou-se por customer_unique_id cuja proporção é >= 0.00002

clientes_pediram_mais_de_uma_vez = df_clientes_proporcao_unique_id[(df_clientes_proporcao_unique_id['Proporção (decres)'] >= 0.00002)]
clientes_pediram_mais_de_uma_vez

ID único do Cliente               Proporção (decres)  Proporção (%)
8d50f5eadf50201ccdcedfb9e2ac8455            0.000171       0.017096
3e43e6105506432c953e165fb2acf44c            0.000091       0.009051
1b6c7548a2a1f9037c1fd3ddfed95f33            0.000070       0.007039
ca77025e7201e3b30c44b472ff346268            0.000070       0.007039
6469f99c1f9dfae7733b25662e7f1782            0.000070       0.007039
...                                              ...            ...
684fdd89d877968793cfb9c8f7ef7874            0.000020       0.002011
b7b68a8bb6ca48aefdd5790e04cda817            0.000020       0.002011
53e4d5ab8287848319f0220d47ee7ca0            0.000020       0.002011
e395de53a61a2f8fa96ea1ca399c3ff5            0.000020       0.002011
e8001d7ab27230c1f2fb39aa63aea136            0.000020       0.002011

[2997 rows x 2 columns]

In [180]:
# Levantar informações de customer_unique_ids que aparecem pelo menos 2 vezes

clientes_pediram_mais_de_uma_vez.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2997 entries, 8d50f5eadf50201ccdcedfb9e2ac8455 to e8001d7ab27230c1f2fb39aa63aea136
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Proporção (decres)  2997 non-null   float64
 1   Proporção (%)       2997 non-null   float64
dtypes: float64(2)
memory usage: 70.2+ KB

In [183]:
clientes_pediram_mais_de_uma_vez.tail(20)

ID único do Cliente               Proporção (decres)  Proporção (%)
74fe4e106702770ef728399ce5da503a             0.00002       0.002011
6a5b2a807a2aca962c4badc649cb40b2             0.00002       0.002011
354004e1432bff6f9008ce0a5afd732a             0.00002       0.002011
7ea3dc64a652d699ace3048e904c561b             0.00002       0.002011
08a374bca4063116d5530a7b04ecaf3f             0.00002       0.002011
5a85f706b2059c3cd55287e105d8d5ea             0.00002       0.002011
346fce1712054d4339be023a27c38f13             0.00002       0.002011
1ae30e98d81bdf991fa25b52b8142308             0.00002       0.002011
bb656eab01a34ac497457c5a92f5bd07             0.00002       0.002011
b316e256ce45161d3ab81f74834376e8             0.00002       0.002011
9c760a39c48113c1450dd5b65958d7fa             0.00002       0.002011
743b6b21edcc4f0a9be82e591187e0a8             0.00002       0.002011
6457b2cb5462c1217e8e6d36b0ff39d2             0.00002       0.002011
d42abb03c8796ea293a48772c24843c1             0.00002       0.002011
b3dc8eaa25a1212037fae667340f20e5             0.00002       0.002011
684fdd89d877968793cfb9c8f7ef7874             0.00002       0.002011
b7b68a8bb6ca48aefdd5790e04cda817             0.00002       0.002011
53e4d5ab8287848319f0220d47ee7ca0             0.00002       0.002011
e395de53a61a2f8fa96ea1ca399c3ff5             0.00002       0.002011
e8001d7ab27230c1f2fb39aa63aea136             0.00002       0.002011

In [184]:
# Checar se unique_id com proporção  == 0.00002	aparece 2 vezes

df_clientes[df_clientes['customer_unique_id'].str.contains('e8001d7ab27230c1f2fb39aa63aea136', na = False)]

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
13734,455798f3557656a3133b2e6734f45ddf,e8001d7ab27230c1f2fb39aa63aea136,28300,itaperuna,RJ
25406,498262061f04103f440f2e643da02027,e8001d7ab27230c1f2fb39aa63aea136,28300,itaperuna,RJ

In [185]:
# Calcular porporção da coluna 'customer_state'

df_clientes_proporcao_uf = proporcao_categoricas(df_clientes, 'customer_state')
df_clientes_proporcao_uf = df_clientes_proporcao_uf.rename(columns={'customer_state': 'Proporção (decres)'})
df_clientes_proporcao_uf = df_clientes_proporcao_uf.rename_axis('UF', axis='columns')
df_clientes_proporcao_uf.info()
df_clientes_proporcao_uf

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, SP to RR
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Proporção (decres)  27 non-null     float64
 1   Proporção (%)       27 non-null     float64
dtypes: float64(2)
memory usage: 648.0+ bytes

UF  Proporção (decres)  Proporção (%)
SP            0.419807      41.980672
RJ            0.129242      12.924247
MG            0.117004      11.700405
RS            0.054967       5.496727
PR            0.050734       5.073360
SC            0.036574       3.657445
BA            0.033990       3.399000
DF            0.021520       2.152030
ES            0.020444       2.044428
GO            0.020314       2.031355
PE            0.016613       1.661287
CE            0.013435       1.343510
PA            0.009805       0.980481
MT            0.009121       0.912099
MA            0.007512       0.751199
MS            0.007190       0.719019
PB            0.005390       0.539013
PI            0.004978       0.497783
RN            0.004877       0.487726
AL            0.004153       0.415322
SE            0.003520       0.351967
TO            0.002816       0.281574
RO            0.002544       0.254422
AM            0.001488       0.148832
AC            0.000815       0.081455
AP            0.000684       0.068382
RR            0.000463       0.046259

In [186]:
# Calcular porporção da coluna 'city'

df_clientes_proporcao_cidade = proporcao_categoricas(df_clientes, 'customer_city')
df_clientes_proporcao_cidade = df_clientes_proporcao_cidade.rename(columns={'customer_city': 'Proporção (decres)'})
df_clientes_proporcao_cidade = df_clientes_proporcao_cidade.rename_axis('Cidade', axis='columns')
df_clientes_proporcao_cidade

Cidade           Proporção (decres)  Proporção (%)
sao paulo                  0.156274      15.627357
rio de janeiro             0.069207       6.920687
belo horizonte             0.027886       2.788588
brasilia                   0.021430       2.142979
curitiba                   0.015296       1.529550
...                             ...            ...
itutinga                   0.000010       0.001006
lagoa de velhos            0.000010       0.001006
ingai                      0.000010       0.001006
matias olimpio             0.000010       0.001006
nova brescia               0.000010       0.001006

[4119 rows x 2 columns]

In [187]:
cidades_com_pedidos = df_clientes_proporcao_cidade[(df_clientes_proporcao_cidade['Proporção (decres)'] > 0)]
cidades_com_pedidos.tail(20)

Cidade                    Proporção (decres)  Proporção (%)
paulistania                          0.00001       0.001006
bugre                                0.00001       0.001006
nova boa vista                       0.00001       0.001006
sao francisco do humaita             0.00001       0.001006
boa ventura                          0.00001       0.001006
bonito de minas                      0.00001       0.001006
barao                                0.00001       0.001006
japaratuba                           0.00001       0.001006
conceicao do formoso                 0.00001       0.001006
cristinapolis                        0.00001       0.001006
almino afonso                        0.00001       0.001006
virginia                             0.00001       0.001006
itatiba do sul                       0.00001       0.001006
arataca                              0.00001       0.001006
sertao santana                       0.00001       0.001006
itutinga                             0.00001       0.001006
lagoa de velhos                      0.00001       0.001006
ingai                                0.00001       0.001006
matias olimpio                       0.00001       0.001006
nova brescia                         0.00001       0.001006

In [188]:
cidades_com_pedidos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4119 entries, sao paulo to nova brescia
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Proporção (decres)  4119 non-null   float64
 1   Proporção (%)       4119 non-null   float64
dtypes: float64(2)
memory usage: 96.5+ KB

In [161]:
df_clientes[df_clientes['customer_city'].str.contains('nova brescia', na=False)]

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
55945,626da291c796ef2695981deb0bbc9eed,2dad8f2b565b14983d2792369429b34f,95950,nova brescia,RS

### Informações sobre as colunas categóricas

A partir da exploração de proporções das colunas categóricas de df_clientes, tem-se que:

- A proporção para 'customer_id' é 0 para todas as entradas, o que faz sentido, uma vez que para cada pedido é gerado um 'customer_id' específico. Assim, há 99.441 entradas únicas em'customer_id'.

- Para 'customer_unique_id' há 96.096, isso acontece, pois para cada cliente existe apenas um único 'unique_id', assim, infere-se que o mesmo cliente fez mais de um pedido.
    - Ao ler as informações de 'clientes_pediram_mais_de_uma_vez', observam-se que há 12.9979 entradas, ou seja, 2.997 clientes (customer_unique_id) fizeram dois pedidos ou mais.

- Há pedidos em todos os 27 estados brasileiros.

- Há pedidos feito a partir de 4.119 das 5.565 cidades brasileiras (Fonte do total de cidades: IBGE).

## A.2. Conhecendo o dataset de Pedidos (oilst_orders_dataset.csv)

In [189]:
# Verificar tipo da variável do dataset para checar se foi importanto como solicitado

type(df_pedidos)

pandas.core.frame.DataFrame